a {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    display: block;
    width: 86%;
    border: none;
    background-color: #00000073;
    color: white;
    padding: 12px 24px;
    font-size:32px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    text-decoration: none
  }

  .content {
    max-width:600 ;
    margin: auto;
    background: white;
    padding:10px;
    text-align: center;
    align-self: center
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.empty {
padding:10px;
}
a {border-radius: 20px;}