
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  a {
    padding-top: 50px;
    padding-right: px;
    padding-bottom: 50px;
    padding-left: px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




  * {
    font-family: 'Roboto', sans-serif;

  }

  input[type=inputbox] {
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
      

  }

  .content {
    max-width:600px ;
    margin: auto;
    background: white;
    padding:10px;
    text-align: center;
    align-self: center
  }

  .main {
    float: left;
    width: 80%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  * {
    
    font-size: larger ;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 700;

  }

  .Button {
    background-color: #636e6373; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .Block {
    display: block;
    width: 100%;
    border: none;
    background-color: #636e6373;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  .Button {border-radius: 20px;}


  .Block {border-radius: 20px;}
  .inputfield {
    border-radius: 20px;
    max-width: 120px;
  
  
  }
  .numbers {border-radius: 20px;}
  .Button {
    display: block;
    width: 100%;
    border: none;
    background-color: #636e6373;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

  }

  .empty {
    padding:4px;
    }





  .numbers {
    border: outset rgba(255, 0, 0, 0.322);
    padding-top: 2%; 
    padding-bottom: 2%;
    text-align: center;
  }


.prompt {
    display: block;
    position: absolute;
    width: 100px;
    z-index: 100;
}